@charset "UTF-8";
/*INDEX*/
body {
  margin: 0px;
  background: linear-gradient(#21C08B, #AB88FF);
  font-family: "Mulish", sans-serif;
}

.header {
  background-color: rgba(19, 17, 17, 0.556);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-left: 60px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px 40px;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px white;
  border-radius: 25px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: 35px;
  padding: 0px 10px;
  width: 70%;
  outline: none;
  margin: 10px;
}

::placeholder {
  /*pseudo elemento*/
  color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  color: white;
  font-size: 25px;
}

.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.carousel {
  width: 100%;
  overflow: scroll;
  margin: 25px;
  padding-left: 30px;
}

.carousel__container {
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 0;
  margin: 70px 0px;
  transition: 450ms transform, 450ms -webkit-transform;
}

.carousel-item {
  background-color: #51a451;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 14px;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: -20px;
  color: white;
  text-align: center;
}

.carousel-item__details p {
  padding-top: 50px;
}

.footer__index {
  display: flex;
  align-items: center;
  background-color: rgba(19, 17, 17, 0.556);
}

.footer__index a {
  color: white;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.footer__index a:hover {
  text-decoration: underline;
}

/*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
  }
  ::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar:hover:active {
    background: #999;
  }*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(190, 189, 189, 0.219);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.699);
}

/*INDEX*/
/*LOGIN*/
.login {
  background: linear-gradient(#21C08B, #AB88FF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: solid 2px white;
  color: white;
  padding: 60px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px;
}

.login__container--social-media > div > img {
  width: 25px;
  margin: 10px;
}

.login__container--register {
  font-size: 14px;
  text-align: center;
}

.login__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.login__input {
  font-family: "Mulish", sans-serif;
  outline: none;
  margin: 10px;
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  padding: 10px;
}

::placeholder {
  /*pseudo elemento*/
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  outline: none;
  height: 50px;
  margin: 25px;
}

.footer {
  display: flex;
  align-items: center;
  background-color: rgba(19, 17, 17, 0.556);
}

.footer a {
  color: white;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
}

/*LOGIN*/
/*REGISTRO*/
.registro {
  background: linear-gradient(#21C08B, #AB88FF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.registro__container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: solid 2px white;
  padding: 60px;
  width: 300px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.registro__input {
  font-family: "Mulish", sans-serif;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  margin: 20px;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.registro__container--form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.registro__container a {
  color: white;
  text-decoration: none;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
}

.registro__container a:hover {
  text-decoration: underline;
}

/*REGISTRO*/
.container {
  padding: 40px 30px;
  min-height: calc(100vh - 200px);
  justify-content: center;
}

.container__texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(80%);
  color: white;
}

.container__texto h1 {
  font-size: 100px;
  margin: 0px;
}

.container__texto h1:hover {
  transform-origin: center;
  transition: 450ms transform, 450ms -webkit-transform;
  transform: scale(2, 2);
  cursor: pointer;
}

.container__texto h2 {
  padding-top: 15px;
}

/*QUERY MOBILE*/
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }

  .registro__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .carousel__container {
    border: none;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
}
/*QUERY MOBILE*/

/*# sourceMappingURL=style.css.map */
